body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0;
} 
header{
    margin-left: 70px;
    margin-top: 60px;
}
/*----------------

influence journy ------------- */
.influencer-journey{
    display: flex;
    margin: 70px;
    }
    h1{
        font-size: 40px;
    }
    .influence-button{
        background-color: rgb(238, 13, 88);
        text-decoration: none;
        color: rgb(206, 245, 245);
        padding: 7px 15px;
        font-size: 15px;
        border-radius: 15px;
    }
    .influence-pic:hover .photo{
        transform:scale(1.1) ;
        transition:transform 2s ease-in-out;
        
    }
    .influence-pic:hover{
       border:3px solid rgb(146, 146, 238);
       border-radius: 7px;
    }
    .influencer:hover{
        border: 3px solid rgb(146, 146, 238);
        border-radius: 7px;
        padding-left: 10px;
    }
    /*---------------------------------------------------
    -------------- popular collection ----------------------- */
    h3{
        font-size: 25px;
        text-align: center;
        color: rgb(71, 69, 69);
    }
    h2{
        margin: 15px 0;
    }
    h4{
       font-weight:normal; 
      margin:8px 0;
      margin-top: 0;
    }
    .icon{
            color: goldenrod;
            font-size: 10px;
              margin-top: 0;
    }
    span{
        margin-left:15px;
        color: rgb(133, 130, 130);
        font-size: 13px;
    }
    p{
        color:rgb(133, 130, 130) ;
    }
    .popular-collection{
        display: grid;
        gap: 30px 25px;
        grid-template-columns: 1fr 1fr 1fr ;
        margin-left: 150px;
        margin-right: 130px;
        margin-bottom: 60px;
        }
        .popular{
            box-shadow: 0 6px 30px rgb(219, 218, 218);
            padding: 20px;
            height: 460px;
            border-radius: 7px;
        }
    /*------------- button ---------------- */
    .see-more a{
        text-decoration: none;
        margin-left: 1150px;
        color: rgba(199, 5, 69, 0.815);
        font-weight: bold;
    }
    /* 
    ------------------------------
    -----------------------------footter ------------------------------------------ */
    h6{
        font-weight: normal;
        margin: 0 0 10px 0;
        
    }
    .footer{
        text-align: center;
        background-color: rgba(9, 2, 46, 0.959);
        color: white;
        padding: 30px;
         }
         .flex i{
             margin-left: 10px;
             }  
    
    